body {
    font-family: Verdana, Arial, sans-serif;

}




h1 {
    text-align: center;
}
td {
    padding: 6px;
    border-bottom: 1px solid #808080;
}
th {
    background-color: #b7d0ff;
    font-style: bold;
    padding: 12px 0px 12px 6px;
    border-bottom: 2px solid gray;
}
table {
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
    table-layout: fixed;
    width: 100%;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd){
    background-color: #ffffff;
}

.over45rate {
    background-color: #abffbd !important;
}

.under25rate {
    background-color: #ff9e9e !important;
}
.center {
    margin: auto;
    padding: 60px;
    width: 60%;
}